@model WebApplication1.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
}
@{ 
    var city = Model.Cities.First();
<h1>City @city.CityId</h1>
<table align="right">
        @foreach (var cit in Model.Cities)
        {
            <tr>
                <td style="font-size: 20px">@Html.ActionLink("City " + cit.CityId, "ShowCityMines", "Mines", new { cit.CityId }, null)</td>
            </tr>
        }
</table>
<table>
    <tr>
        <td id="t01">
            <table class="mines">
                <caption>Mines</caption>
                    @foreach (var mine in city.Mines)
                    {
                        <tr class="@(mine.Type)">
                            <td>
                                <img src="~/Content/img/icon-@(mine.Type).png" /></td>
                                <td>@mine.Type</td>
                                <td>Level: @mine.Level</td>
                                <td>@Html.ActionLink("Details", "Details", new { mineId = mine.MineId })</td>
                                <td class=" hourProduction">@mine.GetProductionPerHour()</td>
                        </tr>
                    }
            </table>
        </td>

        <td id="t01">
            <table>
                <caption>Resources</caption>
                    @foreach (var resource in city.Resources)
                    {
                        <tr>
                            <td class="res-img @(resource.Type)">
                                <img src="~/Content/img/icon-@(resource.Type).png" />
                            </td>
                            <td>@resource.Type </td>
                            <td class="res-value @(resource.Type)">@resource.Level.ToString("n4")</td>
                            <td class="res-update @(resource.Type)">@*@resource.LastUpdate*@</td>
                            
                        </tr>
                    }
            </table>
        </td>
    </tr>
</table>
    <div>
        @section Scripts
        {
            <script src="~/Scripts/UpdateMines/Mine.js"></script>
            <script src="~/Scripts/Date.min.js"></script>
        }
    </div>
}